{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}场景测试结果{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="row" style="padding-top: 55px; padding-left: 20px; width:100%;">
        <div class="col-md-12">
            <table class="table table-striped"; rules="">
                <div style="position:absolute; right:10px; width:10px; ">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>场景测试扫描-自动化测试汇总报告</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>用例总数</th>
                        <td>{{ apiscounts }}</td>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>通过
                        </th>
                        <td>{{ apis_pass_counts }}</td>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th
                        ></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>不通过</th>
                        <td><a style='color:red'>{{ apis_fail_counts }}</a>
                        </td>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </div>
            </table>
            <!-- 场景测试用例-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="10%">测试列表</th>
                <tr>
                    <th width="3%">ID</th>
                    <th >用例名称</th>
                    <th >用例描述</th>
                    <th>测试结果</th>
                    <th width="40%">失败原因</th>
                    <th>执行时间</th>
                </tr>
                </thead>
                <tbody>
                {% for api in apis %}
                    <tr>
                            <td>{{ api.id }}</td>
                            <td><p>{{ api.apitestname }}</p></td>
                            <td><p>{{ api.apitestdesc }}</p></td>
                            <td>{% if api.apitestresult == 1 %}
                                <a style='color:green'>{{ api.apitestresult }}</a>
                            {% else %}
                                <a style='color:red'>{{ api.apitestresult }}</a>
                            {% endif %}
                            </td>
                            <td><p>{{ api.failreason }}</p></td>
                            <td>{{ api.update_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}